@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700&display=swap');

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    /* ### Primary */
    --pink: hsl(322, 100%, 66%);

    /* ### Neutral */
    --very-pale-cyan: hsl(193, 100%, 96%);
    --Very-dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);
    --main-padding: 75px;

    /* font-family */
    --open-sans: 'Open Sans', sans-serif;
    --poppins: 'Poppins', sans-serif;

    /* font-size */
    --body-font: 1.8rem;
    --footer-font: 1.6rem;
    /* border-radius */
    --br: 1.5em;

}
html{
    font-size: 62.5%;
}
body{
    display: inline-block;
}
main{
    margin-bottom: 20em;

}
/* Utilities */
.flex-class{
    display: flex;
}
.grid-class{
    display: grid;
}
.space-between{
    justify-content: space-between;
}
.align-self{
    align-self: center; 
}
.flex-start{
    align-self: flex-start;
}
.line-height-normal{
    line-height: 1.6;
}
.display-block{
    display: inline-block;
}
/* section */
.main__section1{
    background-color: var(--very-pale-cyan);
    background-image: url(images/bg-hero-desktop.svg);
    background-repeat: no-repeat;
    padding: var(--main-padding);
}
.main__section-logo{
    grid-template-areas: 
    "logo tryItFree"; 
}
.main__section-logo img{
    grid-area: logo;
}
.main__section-logo .try_it_free-button{
    grid-area: tryItFree;
}
.main__section-content{
    margin-top: 5rem;
    gap: 10em;
    grid-auto-flow: column;
    grid-auto-columns: minmax(0,1fr);
    margin-top: 8em;
}
.main__section-content-div1{
    align-self: center;
    gap: 2em;
    flex-direction: column;
}
.main__section-content img{
    max-width: 100%;
}

h1{
    font-size: 3.8rem;
    font-family: var(--poppins);
}
h2{
    font-size: 2.8rem;
    font-family: var(--poppins);
    line-height: 2.6;
}
p{
    font-family: var(--open-sans);
    font-weight: 100;
    font-size: var(--body-font);
}
a{
    text-decoration: none;
    color: white;
}
button{
    font-family: var(--open-sans);
    font-weight: 900;
    border-radius: 5rem;
    font-size: 1.6rem;
    border: none;
    box-shadow: 1px 1px 15px rgba(0,0,0,.2);
    cursor: pointer;
}
.try_it_free-button{
    margin-left: auto;
    padding: .5em 3em;
    background-color: white;
}
.get_started_for_free-button{
    background-color: var(--pink);
    color: white;
    border-radius: 5rem;
    padding: .8em 3em;
}
.main__get_started_for_free-button{
    align-self: start;
}
/* cards */
.cards{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: var(--main-padding);
    gap: 7em;
    margin-top: 7em;
}
.cards-section{
    gap: 10em;
    box-shadow: 1px 1px 15px rgba(0,0,0,.2);
    padding: 5em 3em 10em 12em;
    border-radius: var(--br);
    grid-auto-flow: column;
    grid-auto-columns: minmax(0,1fr);
}
.card-img{
    max-width: 100%;
}
.cards-section-div1{
    align-self: center;
}
.cards-section-div1 p{
    opacity: .5;
    font-size: var(--body-font);
}
.final-card{
    justify-content: center;
    align-items: center;
    position: relative;
}
.call-to-action-section{
    position: absolute;
    margin-bottom: 5em;
    background-color: white;
    box-shadow: 1px 1px 15px rgba(0,0,0,.2);
    padding: 4em;
    border-radius: var(--br);
    flex-direction: column;
}
/* Footer */
footer{
    font-family: var(--open-sans);
    font-size: var(--footer-font);
}
li{
    list-style: none;
}
.footer-details{
    background-color: var(--Very-dark-cyan);
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    color: white;
    padding-top: 10em;
    padding-left: var(--main-padding);
    padding-right: var(--main-padding);
    padding-bottom: var(--main-padding);
    font-weight: 500; 
    gap: 2em;
}
li img{
    margin-right: 1em;
} 
.footer-details img{
    grid-row: 1/2;
    grid-column: 1/span 4;
}
.location::before{
    content: '';
    background: url('images/icon-location');
}
.copyright{
   grid-row: 3/4; 
   grid-column: 1/span 4;
   text-align: end;
   font-size: 1.2rem;
}
@media screen and (max-width: 1000px){
    
}
.attribution {
     font-size: var(--body-font);
      text-align: center;
      font-weight: 400;
    }
.attribution a { color: hsl(228, 45%, 44%); }